* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.full-screen-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.full-screen-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    text-align: center;
    color: white; 
    margin-right: 50%;
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: black;
}

.content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: black;
}

.content button:hover {
    background-color: #0056b3;
}
.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav {
    justify-content: right; /* Centers the nav items horizontally */
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background for better readability */
    padding: 10px;
}

.nav-link {
    color: white;
    font-size: 1.2rem;
    padding: 0 15px;
}

.nav-link:hover {
    color: #007BFF;
}
.contentLeft {
    position: absolute;
    top: 50%;
    left: 5%; /* Adjust this value to control how far from the left you want it */
    transform: translateY(-50%); /* Vertically centers the content */
    z-index: 10; /* Ensure it appears above other elements */
    color: white;
    margin-left: 60%;
    gap: 20px;

}


.contentLeft button {
    font-size: 1.2rem;
}

.contentLeft button:hover {
    background-color: #ebf39e;
    color: white;
}

.contentLeft h1 {
    font-size: 3rem; /* Larger font for heading */
    margin-bottom: 10px;
    color: white;
}

.contentLeft p {
    font-size: 1.5rem; /* Increase font size for paragraphs */
    margin-bottom: 5px;
    color: white; /* Adjust text color if needed */
}
.result-content {
    font-size: 0.875rem; /* Smaller font size */
    color: white; /* Darker color for readability */
}